{% extends 'app1/next_level/base.html' %}
{% block title %} YK - Books {% endblock %}
{% block body %}

  {% include 'app1/next_level/conponents/navbar.html' with book_list='active' %}


  <div class="book_list">
    <div class="wid-100 row ">
      <div class="col-xs-12 col-sm-6">
        <h1 class="black-text"> Books Based on : <span id="book_filter_name"  class="green-text"> All Categories</span></h1>
        <h6 class="black-text">Total 45 Books Found Listed Below</h6>
      </div>
      <div class="col-xs-12 col-sm-5">
      
      </div>
    </div>
  </div>

  {% include 'app1/next_level/conponents/fotter.html' %}

{% endblock %}
