{% extends 'app1/next_level/base.html' %}
{% block title %} YK - Homepage {% endblock %}
{% block body %}

<!--Offer Banner started-->
  {% include 'app1/next_level/conponents/offer_banner.html' %}
<!--Offer Banner ended-->

<!--Best Sellers Book started-->
  {% include 'app1/next_level/conponents/best_sellers.html' %}
<!--Best sellers book ended-->

  {% include 'app1/next_level/conponents/free_delevery_box.html' %}

  <!--new arrive started-->
  {% include 'app1/next_level/conponents/best_sellers.html' %}
<!--new arrive ended-->
{% endblock %}
