{% extends 'app1/next_level/base.html' %}
{% block title %} YK - Scala-seed {% endblock %}
{% block body %}
  {% include 'app1/next_level/conponents/navbar.html' with product_detail='active' %}

  {% include 'app1/next_level/conponents/product_detail_view.html' %}

  
  
  <center>
    <h1 class="black-text">
      Testimonial for this Book
    </h1>
    
    {% include 'app1/next_level/conponents/testimonials.html' with id="tt_of_product" %}

    
    <h1 class="black-text">
      Reviews
    </h1>
    

  </center>
  
  {% include 'app1/next_level/conponents/best_sellers.html' with id="you_may_aslo_like" text1="you may also" text2="Like"  %}
  {% include 'app1/next_level/conponents/fotter.html' %}



{% endblock %}