{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        td
        {
          padding : 5px 5px 5px 5px;
        }
        body {
            background: url( '{% static "app1/images/bg-04.jpg" %}'  );
            background-repeat:no-repeat;
            background-size:100%;

            }
    </style>
</head>
<body>
		<div id="box" class="col-sm-3">
			<div class="container">
		  		<div class="card" style="width:250px">
		    		<img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image" width=250px height=250px>
		    			<div class="card-body">
		      				<h5 class="card-title">Book Name: {{book.book_name}}</h5>
		      				<h5 class="card-title">Book Price: {{book.book_price}}</h5>


		    			</div>
		  		</div>
			</div>
		</div>


	</div>

    {% endblock %}

</body>
</html>