{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        td
        {
          padding : 5px 5px 5px 5px;
        }
        body {
            background: url( '{% static "app1/images/bg-02.jpg" %}'  );
            background-repeat:no-repeat;
            background-size:100%;

            }
         table{
                margin-left: 100px;
                margin-right:100px;
                margin-top:200px;

               }
    </style>
</head>
<body>
<!--<center><h3><b>Login</b> </h3></center>-->
    <center>
        <form name="login" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if msg%}
                 <span class="alert-danger">{{msg}}</span>
            {% endif %}
            {% if msg1%}
                 <span class="alert-success">{{msg1}}</span>
            {% endif %}
            <table >
                <tr>
                    <td><b>Email :</b></td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td><b>Password :</b></td>
                    <td><input type="password" name="pas">
                    <br> <a href="{% url 'enter_email'%}" style="color : black; ">Forgot Password?</a></td>

                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <input type="submit" name="submit" value="Login">
                    </td>
                </tr>
            </table>
        </form>



</body>
</html>
   {% endblock %}
