{% load customtag %}
<div class="best_sellers">
  <div class="bs_Bottom">
    <div class="container-fluid">
      <div class="">
        <h2 class="bs_heading">{{text1}} <b>{{text2}}</b></h2>
        <div id="{{ id }}" class="carousel slide row" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators bs_notification">
            {% for book in books|length|range_for_carousel:4 %}
            <li data-target="#{{id}}" data-slide-to="{{forloop.counter}}" class="bs_notifer {% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner col-lg-12 col-xs-12">
            {% for book in books %}
            {% if forloop.counter|add:"-1"|divisibleby:4 or forloop.first %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="row"> 
              {% endif %}
                      {% include 'app1/next_level/conponents/product_view.html' with book=book %}                
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                  </div>
                </div>
                    {% endif %}
                    {% endfor %}
          <!-- Carousel controls -->
          <a class="carousel-control-prev bs_prev" href="#{{id}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next bs_next" href="#{{id}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

