{% load static %}
{% load customtag %}
<div class="product-view">
    <div class="product-view-back">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="product_main__image_cont">
                    <img class="product_main__image" src="{{ image_url|ifUrlelseStatic:'app1/images/next_level/demo.jpg' }}" alt="Book">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 product-view__details">
                <h6>New</h6>
                <h1>{{ book_name|default:'Pro Scala Seed React with Play Framework By Kevin Thoriya'}}</h1>
                <h5>{{ book_headline|default:'With full of Great Content about Play Framework to make you Hero from Zero in Scala as Well as React'}}</h5>
                <div class="review-rate">
                    <h5 class="black-text">Rate :</h5>
                    <ul class="star_rating_list">
                        <li class="rate_star"><span class="material-icons">favorite</span></li>
                        <li class="rate_star"><span class="material-icons">favorite</span></li>
                        <li class="rate_star"><span class="material-icons">favorite</span></li>
                        <li class="rate_star"><span class="material-icons">favorite</span></li>
                        <li class="rate_star"><span class="material-icons">favorite_border</span></li>
                      </ul>
                      <h5 class="black-text">Read 57 Review <a href="" class="black-text">  |  write your review</a></h5>
                </div>
                <p class="product_main__more_disc">
                    {{ long_disc|default:" Use play framework to develop the application backend/services and frontend using React Create App, all in a totally integrated workflow and single unified console. This approach will deliver perfect development experience without CORS hassle. Fork or clone the seed project of your language preference and get started.<br> Are you building a web application with React? React is super cool! We all know that. But are you looking for a good backend framework to pair with it? No clue on how to get started without going through the pain of setting up things from scratch. Doesn’t matter whether you are building a production ready application or a proof of concept project, You are at the correct place, let’s dive into detail."}}
                </p>
                <h6><strong class="black-text">Book Type :</strong>
                    {{ book_type|default:"Coding, Scala Programing, React, Seed, Play Framework"}}
                </h6>
                <h3>$ {{ price|default:"13.00"}}</h3>
                <span class="black-text ">
                    Qty .
                    <div class="product_main__qty">
                        <span class="black-text plus">+</span>
                        <span class="black-text total">1</span>
                        <span class="black-text minus">-</span>
                    </div>
                </span>
                <div class="product_main__add_to_cart btn-lg banner__buttons">
                    Add To Cart
                </div>
            </div>
        </div>
    </div>
</div>