{% load customtag %}
{% load static %}
<div class="col-sm-3 product">
  <div class="thumb-wrapper">
    <span class="Product__new">New</span>
    <div class="product__image">
      <img src="{{ product_image|ifUrlelseStatic:'app1/images/next_level/demo.jpg' }}" class="img-fluid" alt="">
      <div class="view-more-cont">
        <a data-fancybox data-type="ajax" data-src="{% url 'product_detail_view_n'%}" href="javascript:;">
          <div data-id="{{id}}" class="btn-lg view-more-button view_more">View More</div>
        </a>
      </div>
    </div>
    <div class="product__name">
      <a href="{% url 'product_detail_n' %}">
        <h4 class="product__name_h4">Apple iPad</h4>
      </a> 
      <p class="product__line">some product text comes here about book we can say</p>
      <p class="product__price"><strike>$400.00</strike> <span>$369.00</span></p>
      <div class="star-rating">
        <ul class="star_rating_list">
          <li class="rate_star"><span class="material-icons">favorite</span></li>
          <li class="rate_star"><span class="material-icons">favorite</span></li>
          <li class="rate_star"><span class="material-icons">favorite</span></li>
          <li class="rate_star"><span class="material-icons">favorite</span></li>
          <li class="rate_star"><span class="material-icons">favorite_border</span></li>
        </ul>
      </div>
      <div class="banner__buttons">
        <div class="btn-lg add_to_cart__button">Add To Cart</div>
      </div>

<!--      <a href="#" class="btn-lg banner__shop_button">Add to Cart</a>-->
    </div>
  </div>
</div>
