*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
:root {
    --text-color2: #616f39;
    --text-color1: #3e432e;
    --text-color3: #a7d129;
    --back-color: linear-gradient(to right, #23ba67 , #69cf97 80%);
    --button-bg : linear-gradient(to right, #a7d129 , #69cf97);
    --button-white-bg : linear-gradient(to right, #23ba67 , rgba(0,0,0,0) 90%);
    --main-bg: linear-gradient(to right, rgb(1, 1, 12) , rgb(13, 2, 61));
  }
body { 
    margin: 0;
    padding: 0;
    height: 100vh;

}
.navbar-brand  {
    font-weight: 900;
    color: white;
}
.main__brand  > h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: var(--back-color);
    font-family: 'Allerta Stencil', sans-serif;
}
.navbar{
    color: white;
    background-image: var(--back-color);
}
li.nav-item {
    width: 100px;
    opacity: 0.7;
    margin: 0px 20px;
    padding-bottom: 17px;
    transition: all 0.1s ease-out;
}
a.nav-link{
    display: flex; 
    flex-direction: column;
    height: 50px;
}
a.nav-link > p {
    text-transform: uppercase;
    display: none;
    justify-content: center;
    font-weight: 900;
}
li.nav-item:hover > a.nav-link > p {
    display: inline-flex;
    color: white;
}
li.nav-item:hover, li.nav-item.active{
    transform: scale(1.12);
    opacity: 1;
    background-color: var(--text-color3);
    border-radius: 20px;
}
.nav-link > span.material-icons {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
}
li.nav-item.active > a.nav-link > p{
    display: inline-flex;
    color: white;    
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--text-color2);
    border: 3px solid white;
    overflow: hidden;
}
.avatar > img{
    width: 60px;
    height: 60px;
    transform: translate('-3px','-3px');
}
.avatar-big{
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: var(--text-color2);
    border: 10px solid #a7d129;
    overflow: hidden;
}
.avatar-big > img{
    width: 375px;
    height: 375px;
    transform: translate('-3px','-3px');
}
.offer-banner{
    margin-top: 20px;
    background-image: var(--back-color);
}
.offer-banner__inside{
    padding: 15px;
}
.offer-banner__image{
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.offer-banner__right{
    position : relative;
}
.offer-banner__right__inside{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    max-width: 450px;
}
.banner__upper{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1rem;
}
.banner__middle{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 15px;
    font-family: 'Allerta Stencil', sans-serif;
}
.banner__down{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 15px;
}
.banner__shop_button{
    background-image: var(--button-bg);
    color: white;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
}
.banner__shop_button:hover{
    transform: scale(1.12);
}
.product{
    color: red;
}
.product__image{
    background-color: #e7ebda;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    transition: all 0.5s ease-out;
    position: relative;

}
.product__image > img{
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    transition: all 0.5s ease-out;
}
.product:hover > div > .product__image{
    padding-top: 50px;
    background-color: #aed6c0;
}
.product__price{
    font-size: 20px;
    padding: 2px 0;
    padding: 0px 20px;
}
.product__price > strike{
    color: #999;
    margin-right: 5px;
}
.product__price > span{
    color: #86bd57;
    font-size: 110%;
}
.product__name_h4 {
    font-size: 25px;
    margin: 10px 0;
    color: var(--text-color2);
    padding: 0px 20px;
}
.star_rating_list{
    display: flex;
    list-style: none;
    padding: 0px 20px;
}
.rate_star > span{
    color: var(--text-color3);
    margin: 0px 10px;
}
.bs_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color3);
}
.bs_heading > b{
    color: var(--text-color2);
}
.best_sellers{
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner__buttons{
    background-image: linear-gradient(to right, #28C76F , #fff 51%, #28C76F 100%);
    color: white;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    background-size: 200%;
    background-position: left center;
}
.banner__buttons:hover {
    background-position: center right;
}
.add_to_cart__button{
    transition: all 0.3s ease-out;
}
.banner__buttons:hover > .add_to_cart__button {
    color: #a7d129;
    transform: scale(1.07);
}
.bs_next{
    max-width: 150px;
    background-image:  linear-gradient(to right, rgba(0,0,0,0) 20%, #28C76F );
}
.bs_prev{
    max-width: 150px;
    background-image:  linear-gradient(to right, #28C76F , rgba(0,0,0,0) 80%);
}
.bs_prev:hover{
    background-image:  linear-gradient(to right, #a7d129 , rgba(0,0,0,0) 80%);
}
.bs_next:hover{
    background-image:  linear-gradient(to right,  rgba(0,0,0,0) 20%, #a7d129 );
}

.bs_notification{
    bottom: -50px !important;
}
.bs_notifer{
    background-color: #28C76F !important;
}
.carousel-indicators .active{
    background-color: #a7d129 !important;
}
.product__line{
    color: var(--text-color3);
    padding: 0px 20px;
}
.view-more-cont{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px 30px;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(to bottom, rgba(100,100,100,0.7) , rgba(0,0,0,0) 80%);
}
.product__image:hover > .view-more-cont{
    display: inline-flex;
}
.view-more-button{
    width: 150px;
    text-align: center;
    border-radius: 20px !important;
    background-image: var(--back-color) ;
    font-weight: 800;
    cursor: pointer;
    color: white;
    box-shadow: 10px 10px 5px rgba(255,255,255,0.6);
    padding: 10px;
    font-size: 1.6rem;
    transition: all 0.5s ease-in;
}
.view-more-button:hover {
    opacity: 1;
    transform: scale(1.07);
}
.fdb{
    margin-top: 70px;
    margin-bottom: 30px;
    border-top: 2px solid var(--text-color3);
    border-bottom: 2px solid var(--text-color3);
}
.fdb__title > h3{
    font-family: 'Allerta Stencil', sans-serif;
    color: black;
    margin: auto 30px;

}
.fdb__title{
    display: flex;
}
.fdb__title > ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.fdb__title > ul > li{
    list-style: none;
    display: flex;
    margin-top: 20px ;
}
.fdb__text > p, .fdb__text > p > span, .fdb__text > p > strong{
    color: var(--text-color2);
    margin-top: 10px;
}
.fdb__title > ul > li > img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.thumb-wrapper{
    position: relative;
}
.Product__new{
    z-index: 100;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    background-image: var(--back-color);
    position: absolute;
}
.footer {
    height: auto;
    width: 100%;
    background-image: var(--back-color);
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 60px 0;
    background: #007b5e !important;
}
.footer .footer-title {
    text-align: center;
    color: #007b5e;
    text-transform: uppercase;
}
.footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.footer ul.social li{
	padding: 3px 0;
}
.footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
.footer ul.social li a,
.footer ul.quick-links li a{
	color:#ffffff;
}
.footer ul.social li a:hover{
	color:#eeeeee;
}
.footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
    font-weight:700;
}
.footer ul.quick-links li a i{
	margin-right: 5px;
}
.footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.social__icon {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    fill: #a7d129; 
    transition: all .5s ease-out;
}
.social__icon:hover{
    transform: scale(1.07);
}
.offer-box-container{
    position: relative;
}
.offer-box{
    position: absolute;
    top: -115px;
    background-image: var(--back-color);
    padding: 20px;
    width: 500px;
}
.offer-box__title{
    font-family: 'Allerta Stencil', sans-serif;
    margin: 10px auto;
    text-align: center;
}
.offer-box__text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 20px auto;
}
.offer-box__input{
    background: #a7d129;
    outline-width: 0;
    border: 2px solid #a7d129;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
}
.offer-box__Subscribe{
    background-color: #a7d129;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px;
}
.product-view{
    position: relative;
    background: var(--button-white-bg);
    padding: 30px;
    margin: 30px;
}
.product-view-back{
    background: #fff;
    color: black;
    padding: 2rem;
    width: 90vw;
    margin: auto;
}
.product_main__image_cont{
    display: flex;
    height: 100%;
    align-items: center;
}
.product_main__image{
    width: auto;
    height: 500px;
    margin: 0px auto;
}
.black-text{
    color: #333;
}
.product-view__details > * {
    color: #333;
    margin: 10px 50px 0px 40px;
}
.product-view__details > h6 , h1, h3{
    font-family:  'Allerta Stencil', sans-serif;
}
.review-rate{
    display: flex;
    margin-top: 20px;
}
.product_main__more_disc{
    margin-bottom: 30px;
    max-height: 100px;
    overflow-Y: scroll;
}
.product_main__qty{
    padding: 5px;
    width: fit-content;
    margin: 10px 50px;
    border: 1px solid #555;
}
.product_main__qty > .plus{
    margin-left: 10px;
    margin-right: 20px;
}
.product_main__qty > .total{}
.product_main__qty > .minus{
    margin-left: 20px;
    margin-right: 10px;
    
}
.product_main__add_to_cart{
    color: gray;
}
.product_tt {
    padding-top: 100px;
    padding-bottom: 100px;
}
.product_tt_item > .profile-circle {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin: 30px;
}

.product_tt_item > .blockquote {
    text-align: center;
    border: none;
    color: #444;
}
.product_tt_item > .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.product_tt_item{
    width: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile-circle > .material-icons{
    width: 100px;
    height: 100px;
    font-size: 100px;
}
.product-review-con{
    position: relative;
    /* background-image: var(--back-color); */
    background: linear-gradient(to bottom, #23ba67 , rgba(0,0,0,0) 90%);
    padding: 30px;
    margin: 30px;
}
.product-review-con-back{
    background: #fff;
    color: black;
    padding: 2rem;
    margin: auto;
}
.product_review_count{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
    list-style: none;
}
.product_review_star{
    margin: 0px 10px;
    font-size: 40px !important;
    height: 30px;
    width: 30px;
    align-items: center;
    text-align: center;
}
.progress.rating-bar {
    height: 25px;
    margin: 10px;
}
.green-text{
    color: #23ba67;
    font-family: Arial, Helvetica, sans-serif;
}
.pull-left{
    float: left;
    justify-content: left;
}
.pull-right{
    float: right;
    justify-content: right;
}
.end-child{
    display: flex !important;
    place-content: flex-end;
}
hr, .hr-ending-line{
    width: 100%;
    height: 1px;
    margin: 0px 20px;
}
.panel h2{ color:#444444; font-size:30px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:20px; line-height:24px;}
.panel h4 { color:#777777; font-size:18px; margin-bottom:10px; line-height:15px;}
.login-form .form-control {
  background: #e7ebda none repeat scroll 0 0;
  border: 1px solid #e7ebda;
  border-radius: 10px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  outline-color: #23ba67;
}
input:focus{
    outline-color: #a7d129;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 75%;
  padding: 50px 70px 70px 71px;
  box-shadow: 16px 18px 11px -5px rgba(0,0,0,0.4);
  max-height: 420px;
}
.login-container{
    position: relative;
    /* background-image: var(--back-color); */
    /* background: linear-gradient(to right, #23ba67 , rgba(0,0,0,0) 90%); */
    padding: 30px;
    margin: 30px;
}
.login-back-container{
    padding: 2rem;
    margin: auto;
}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-regi-button {
  background: var(--back-color) !important;
  border: none !important;
  color: #ffffff !important;
  font-size: 20px !important;
  width: 100% !important;
  height: 50px !important;
  line-height: 50px !important;
  padding: 0 !important;
}
.forgot {
  text-align: right; margin-bottom:30px; float: right; 
}
.forgot > a{
    color: #007b5e;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.form-control:focus {
    color: #616f39;
    background-image: linear-gradient(to right, #aed6c0, #84cca4 );
    border-color: #23ba67;
    outline: 0;
}
.register_feature{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.register_feature > p{
    color : #616f39;
}
.form-heading{
    color: #a7d129;   
}
.center-child{
    display: flex;
    justify-content: center;
}
.pb-60 {
	padding-bottom: 60px;
}
.pt-60 {
	padding-top: 60px;
}
.mb-60 {
	margin-bottom: 60px;
}
p {
	font-weight: 300;
	font-size: 14px;
}
.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
    margin-bottom: 0px;
    color: #3e432e;
}
.section-title h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #a7d129;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.section-title h4::before {
	width: 80px;
	height: 1.5px;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
	position: absolute;
	content: "";
	background-color: #a7d129;
}
.section-title h4::after {
	width: 40px;
	height: 1.5px;
	bottom: -5px;
	left: 50%;
	margin-left: -20px;
}
.single_service.service_right {
	padding-right: 70px;
	padding-left: 0;
	text-align: right;
}
.single_service.service_right img {
	right: 0;
	left: auto;
	margin-top: 0;
}
.single_service:nth-child(1), .single_service:nth-child(2) {
	border-bottom: 1px dashed #333;
	padding-bottom: 15px;
}
.single_service img {
	max-width: 45px;
	position: absolute;
	left: 0;
	top: 0;
}
.single_service {
	position: relative;
	padding-left: 70px;
    margin-bottom: 35px;
}
.single_service > *{
    color: #3e432e;
}
.wid-100{
    width: 100% !important;
}
.selector-filter {
    display: flex;
    flex-direction: column;
}
.selector-filter > .upper-text{
    color: #616f39
}
.selector-filter > .bottom-text{
    color: #a7d129;
}
.selecter-filter-main{
    border: 1px solid #616f39;
    border-radius: 10px;
    box-shadow: 8px 10px 11px -5px rgba(0,0,0,0.4);
}
.select-filter-option-main{
    box-shadow: 8px 10px 15px -5px rgba(0,0,0,0.7);
    margin: 0;
    padding: 0 !important;
}
.select-filter-option-main > .dropdown-item{
    background-color: #e7ebda;
    
}
.product-main-div > * {
    margin-top: 10px;
}
.image_field_div{
    position: relative;
}
.image_field_hover{
    position: absolute;
    top: 0;
    left: 0;
    background: #a7d12977;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.image_field_div:hover > .image_field_hover{
    display: flex;
}
.update_profile{
    border: 0;
    font-size: 30px;
    color: #3e432e;
    
}
.form-group > input{
    text-align: center;
    outline: 1px;
    border-radius: 10px;
    background: rgb(240,255,240);
}
.form-group > label {
    font-family: 'Allerta Stencil', sans-serif;
    color: #a7d129;
    font-size: x-large;
}
.title-update-profile{
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
}
.check_account_type{
    background-color: #3e432e;
    justify-content: center;
    border-radius: 20px;
    margin: auto 20px;
    padding: 10px 20px;
    cursor: pointer;
    opacity: .5;
}
.check_account_type_active{
    opacity: 1;
    box-shadow: 8px 10px 15px -5px rgba(0,0,0,0.7);
}
.profile_submit{
    background-color: #a7d129;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    color: #3e432e;
    letter-spacing: 5px;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase; 
    border: 0;
    box-shadow: 8px 10px 15px -5px rgba(0,100,0,0.7);
    font-weight: 900;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}








@media (max-width:767px){
.footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.hidden-xs{
    display: none !important;
}
}
@media (min-width:767px){
.hidden-lg{
    display: none !important;
}
}


/* stack overflow */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e7ebda; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a7d129; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #616f39; 
  }

  